 <div class="card-charity-circle" id="support<%= support.charity.id %>"style="background-image: url(<%=cl_image_path support.charity.photos.first.key %>)">
  <div class="overlay-supports"></div>
    <div class="display-card-charity-circle">
      <h6 class="mb-1"><%= support.charity.name %></h6>
      <p class="mb-1"><%=  support.charity.category%></p>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= link_to "INFORMATION", charity_path(support.charity), method: :get, class: "btn-principal" %>
        <%= link_to "UNSUPPORT", support_path(support), method: :delete, remote: true, class: "btn-third ml-auto mr-auto", id:"unsupport-user"%>
      </div>
    </div>
  </div>
