<div class="container">
  <div class="container-profil">
    <div class=container-insights>
      <div class="card-insights">
        <%= render "users/user_charity_count", user: current_user %>
      </div>
      <div class="card-insights">
        <h4 class="underline">Our community</h4>
        <div class="topline"><p><strong style="color: #1c6a75; font-size: 17px;"><%= @global_charity_count %></strong> charities supported by EqualS</p></div>
          <p><strong style="color: #1c6a75; font-size: 17px;"><%= number_with_delimiter(@global_search_count_today, :delimiter => ',') %></strong> total searches today</p>
          <p><strong style="color: #1c6a75; font-size: 17px;"><%= number_with_delimiter(@global_search_count, :delimiter => ',') %></strong> total searches since EqualS was born</p>
      </div>
    </div>
    <div class="card-container-supports">
      <h4 class="underline">Your charities</h4>
      <div class="card-container-supports-badges">
        <% @user.supports.each do |support| %>
          <%= render "users/support", support: support %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="second-infos-container">
    <h4 class="underline">Support more charities...</h4>
      <div class="row" id="other-charities">
        <% @other_charities.each do |charity| %>
          <%= render "users/charity_card", charity: charity %>
        <% end %>
     </div>
  </div>
</div>





