<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'LOGO-LITTLE.png' %>
    <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-500">
      <% if user_signed_in? %>
      <li class="counter nav-item dropdown d-flex align-items-center">
        <%= link_to user_path(current_user), class: "nav-link", id: "container-counter" do %>
       <!--  <a href="#" class="nav-link" id="container-counter"> -->
            <span class="item" id="count">
              <% if total_search  != nil %>
                <div style="font-weight: bold; font-size: 15px;"><%= total_search %> <span class="item fas fa-venus"></span></div>
              <% else %>
                0
              <%end %>
            </span>

            <!-- <span class="item fas fa-venus-double"></span> -->
           <!--  <span class="item fas fa-fist-raised"></span> -->
<!--             <=%= image_tag 'fem-icon.svg' %>
 -->              <% end %>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link"><i class="item far fa-bell"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="item fas fa-bars"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>x
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", id: "login-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
