
<%= simple_form_for Search.new, method: :post, html: {class: "searchbar-form"} do |f| %>
  <div class="p-1 bg-white rounded rounded-pill shadow-sm mb-" id="search-form-container">
    <div class="input-group">
      <%= button_tag(type: "submit", class: "btn btn-link text-warning") do %>
        <i class="loop fa fa-search"></i>
      <% end %>
      <div style="width: 93%;">
        <%= f.input :q,
          label: false,
          placeholder:"Search the web to support equality",
          input_html: {value:params[:q], class:"border-0 bg-white rounded rounded-pill form-control"},
          wrapper_html: { class: 'm-0'} %>
      </div>
    </div>
  </div>
  <div id="search-suggestions">
    <!-- c'est une div qui permet d'afficher les résultats suggérés autocomplete.js -->
  </div>
<% end %>


<!-- pour le value, params[:q] permet de preremplir pour le champ d'arrivée du résults -->
<!-- si on voulait préremplir le form de départ et celui d'arrivée on aurait fait:  -->
<!-- params[:q].present? ? params[:q] : ‘ce que tu veux comme valeur par defaut’ -->


<!-- tout est commenté en dessous -->
<% if false %> <!-- ça permet de commenter tout un bloc -->
<!-- c'est le form qu'on avait avant mais on a remplace par un simple_form -->
<!-- https://stackoverflow.com/questions/10858582/html-code-inside-buttons-with-simple-form -->
<form action="/searches" class="searchbar-form" method="POST">
  <div class="p-1 bg-white rounded rounded-pill shadow-sm mb-">
    <div class="input-group">
      <button type="submit" class="btn btn-link text-warning"><i class="loop fa fa-search"></i></button>
      <input type="search" name="q" value="<%= params[:q] %>" placeholder="Search the web to support equality" class="form-control border-0 bg-white rounded rounded-pill">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </div>
</form>
<% end %>
