
<div class="container" style="border-bottom: 1px solid #e0e0e0; padding-left: 0px;">
  <div class="results-60 mb-3">
    <%= render 'shared/searchbar' %>
  </div>

  <%= render 'results/navbar_results' %>
</div>

<div class="container d-flex" >

  <div class="results-60 pt-3">

    <div class="news-container">
      <ul>

          <% (0..2).each do |i| %>

            <% if @news_results[i] && @news_results[i].dig(:image) %>
              <%= render "results/result_news_card", result: @news_results[i] %>
            <% end %>
          <% end %>
      </ul>
    </div>

    <div class="webPages-container">
      <% @webpages_results.each do |result|%>
        <%= render "results/result_card", result: result %>
      <% end %>
    </div>

    <!-- ici mettre une structure du type:  -->
  <!--   1 résultat web : @webpages_results[0] -->
    <!-- 3 news (s'il y en a) : @news_restults - render une carte news -->
    <!-- 2 ou 3 résultats web: @webpages_results[1] et @webpages_results[2] -->
    <!-- 3 vidéos (s'il y en a) : @videos_results - render une carte video -->
    <!-- le reste des résultats web: @webpages_results[3-fin] -->


  </div>
  <div class="focus-40">
    <div class="p-3">
      <%= render "results/result_entity_card", result: @entities_results.first unless @entities_results.empty?%>
    </div>
  </div>

</div>
